.CodeEditor {
  flex: 1; /* Each takes 50% of the width */
  overflow: auto; /* For scrolling */
  flex-direction: column;
  position: relative;
  .flex();
}

.cm-theme {
  flex: 1;
  font-size: 18px;
}

.cm-editor {
  height: 100%;
}

.ͼ16 {
  background-color: #282c34;
}

.ͼ16 .cm-gutters {
  background-color: #282c34;
}
